{% extends 'base.html' %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/theme1/canvas.css') }}" />
{% endblock %}

{% block body %}
<canvas class="canvas"></canvas>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='src/canvas.js') }}"></script>
<script src="{{ url_for('static', filename='src/canvas_hover.js') }}"></script>
<script src="{{ url_for('static', filename='src/canvas_drag.js') }}"></script>
<script src="{{ url_for('static', filename='src/canvas_zoom.js') }}"></script>
{% endblock %}