@import "constants";

.toolbar {
    position: fixed;
    top: $toolbar-padding+$top-panel-height;
    left: $toolbar-padding;
    z-index: 2;
}

.hex-input {
    width: 7ch;
}

.color-input {
    width: 3ch;
}

.colors {
    width: 100%;
}

#coordinates {
    display: flex;
    flex-direction: row;
    width: 100%;
}