@import "theme1/constants";


body {
    background-color: #24292e;
    height: 100vh;
    overflow: hidden;
}

.panel {
    background-color: $front-color;
    border: 1px solid $pri-border;
}

.bottom-panel {
    position: absolute;
    bottom: 0;
}

.hint {
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
}

.canvas {
    position: absolute;
    top: $top-panel-height;
    background-color: white;
    // width: 100%;
    // height: calc(100% - #{$top-panel-height} - #{$bottom-panel-height});
}